button {
  min-width: 8rem;
  max-width: 8rem;
  min-height: 2rem;
  max-height: 2rem;
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
}

button img {
  width: 2rem;
  height: 2rem;
  align-self: center;
  justify-self: center;
}
