.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
  margin: 2rem 12rem 14rem 12rem;
}
