.gameview {
  background-color: var(--color-blue);
  background-size: cover;
  overscroll-behavior-block: contain;
  display: grid;
  grid-template: 1fr 10fr 1fr/ 1fr 1fr 1fr;
  grid-template-areas:
    "scoreboard-container home-button ."
    "main-container main-container main-container"
    ". . .";
  min-height: 100%;
}

.gameview .scoreboard-container {
  grid-area: scoreboard-container;
}

.gameview .cards-container {
  grid-area: main-container;
}

.gameview .gameover-container {
  grid-area: main-container;
}

.gameview .home-button {
  grid-area: home-button;
  margin: auto;
}
