.scoreboard-container {
  background-color: var(--color-gray);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0 0 0 2rem;
  max-width: 12rem;
}

.scoreboard-container p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
